* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
}

/* AJUSTES COMPARTIDOS  */


body {
    font-family: 'Ubuntu', sans-serif !important;
}





    
header {
    background-color: #9AD3CD;
    color: #010c09;
}



    /* LOGO */

    header h1 {
        color: #010c09;
        text-align: left;
        font-style: normal;
        font-weight: bold;
        font-size: 24;
        font-family: 'Ubuntu', sans-serif !important;


    
    }
  


    .textoNav {
        font-size: large;
    }

    .textoNav.active a {
        color: #f3030376;
    }

    
    
    /* MAIN */
    main {
        background-color: #D9D9D9;
        color: #050b15;

    }





    .mainQuienes {
        display: flex;
        flex-direction: column;
    }

    .sectionDiego {
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;

    }

    .sectionMarie {
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
        
    }

    
    
    

    
    /* IMAGENES */
    .imgIndex  {

        width: 380px !important;
        height: 380px !important;


    }
    
    .imgDiego {
        width: 80px;
        max-width: 80px;
    

    }
    
    .imgMarie {
        width: 80px;
        max-width: 80px;

    }
    
    
    /* FOOTER */

   
    
    
    footer {
        background-color: #9AD3CD;
        color: #010d08;

    
    }
    
    /* COPYRIGHT */
    footer p {
   

    
    }
    
    
    /* REDES SOCIALES */
    footer ul {
 
        list-style: none;
    
      


  
   
    }

     /* ICONOS */

     .instagramIcon {
        width: 32px !important;
        margin-top: 5px !important;

     }

     .facebookIcon {
        width: 40px !important;

     }


     .twitterIcon {
        width: 30px !important;
        margin-top: 5px !important;

     }

    /* TARJETAS */
    
     .card{
        width: 100%;
        margin: 20px;
        border-radius: 6px;
        overflow: hidden;
        background:#fff;
        box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
        transition: all 400ms ease-out;
        cursor: default;
    }
    .card:hover{
        box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
        transform: translateY(-3%);
    

    
}

@media screen and (max-width: 1024px) {
    
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 600px) {
    
}

@media screen and (max-width: 480px) {
    
}

@media screen and (max-width: 320px) {
    
}