@import "./variables.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap/scss/bootstrap-utilities.scss";




// RESET

* {
	margin: 0 !important;
	padding: 0 !important;
}

// TIPOGRAFIAS



// PRIMER MEDIA QUERY DESKTOP FIRST
@media (max-width: 3000px) {


	// HEADER
	@import "../scss/header.scss";


	// MAIN
	@import "../scss/main.scss";


	// FOOTER

	@import "../scss/footer.scss";

	// AJUSTES ALTO DE PAGINA
	.vh-18 {
		height: 18vh !important;
	}

	.vh-72 {
		min-height: 72vh !important;
	}

	.vh-10 {
		height: 10vh !important;
	}


}

// RESPONSIVE 768

@media (max-width: 768px) {
	.logo {
		width: 20px !important;
		position: relative !important;
		bottom: 13px !important;
	}

	.imgindex {
		width: min-content !important;

	}

	.ratio-4x3 {
		@include media-breakpoint-up(md) {
			--bs-aspect-ratio: 50%; // 2x1
		}
	}

}

// RESPONSIVE 425

@media (max-width: 425px) {}

// RESPONSIVE 375

@media (max-width: 375px) {}

// RESPONSIVE 320

@media (max-width: 320px) {
	.imgindex {
		position: relative !important;
		height: 200px !important;

	}

	.tabla {
		font-size: x-small !important;
		font-weight: 700 !important;
	}
}