@import "./variables.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap/scss/bootstrap-utilities.scss";




// RESET

* {
	margin: 0 !important;
	padding: 0 !important;
}


// PRIMER MEDIA QUERY DESKTOP FIRST
@media screen and (max-width: $monitorxl) {


	// HEADER
	@import "../scss/header.scss";


	// MAIN
	@import "../scss/main.scss";


	// FOOTER

	@import "../scss/footer.scss";

	// AJUSTES ALTO DE PAGINA
	.vh-18 {
		height: 18vh !important;
	}

	.vh-72 {
		min-height: 72vh !important;
	}

	.vh-10 {
		height: 10vh !important;
	}


}
// RESPONSIVE 1200

@media screen and (max-width: $monitor) {}


// RESPONSIVE 768

@media screen and (max-width: $tablet1) {
	.logo {
		width: 20px !important;
		position: relative !important;
		bottom: 13px !important;
	}

	.imgindex {
		width: min-content !important;

	}

	.ratio-4x3 {
		@include media-breakpoint-up(md) {
			--bs-aspect-ratio: 50%; // 2x1
		}
	}

	.card-contacto {
		margin-right: 5% !important;
		width: 100% !important;
		margin-left: 5% !important;


	
	}

}

// RESPONSIVE 425

@media screen and (max-width: $tablet2) {}

// RESPONSIVE 375

@media screen and (max-width: $movil1) {}

// RESPONSIVE 320

@media screen and (max-width: $movil2) {
	.imgindex {
		position: relative !important;
		height: 200px !important;

	}

	.tabla {
		font-size: x-small !important;
		font-weight: 700 !important;
	}
}

// RESPONSIVE LANDSCAPE

@media screen and (min-width: 655px) and (max-width: 656px) and (orientation: landscape) {
	

	.vh-18 {
		height: 60vh !important;
	}

	.vh-72 {
		min-height: 20vh !important;
	}

	.vh-10 {
		height: 20vh !important;
	}



}